.item .body { -moz-column-width: 400px; }

.item .body img {
  max-width: 100%;
  height: auto;
  cursor: zoom-in;
}

.item .body img:hover {
	max-width: 1000% !important;
	position: relative;
	z-index: 5;
	outline: 10px solid #000;
}
