a img {
  border: 0;
}

p
{
    margin: 0;
    padding: 5px;
}

.clearer
{
    clear: both;
}

#view-page
{
    font-family: georgia;
    margin-top: 0;
}

.header
{
    background: #dddddd;
    padding: 5px;
}

.widgets
{
    font-family: verdana, arial;
    background: #f0f0f0;
    font-size: 12px;
    padding: 4px;
    text-align: right;
}

.widget
{
    margin-left: 10px;
}

#handle
{
    top: 0px;
    bottom: 0px;
    position: fixed;
    width: 10px;
    background: grey;
    cursor: e-resize;
    background-image: url(image/grippy.png);
}

#sidebar
{
    font-family: verdana, arial;
    font-size: 10px;
    margin: 0;
    top: 0px;
    bottom: 0px;
    left: 0px;
    position: fixed;
    overflow: auto;
    padding-top: 25px;
}

#sidebar #throbber {
    position: fixed;
    left: 0;
    top: 0;
}

#nav
{
    font-size: 11px;
}

#sidebar #nav ul
{
    padding-left: 2em;
}

#sidebar form
{
    display: inline;
}

#sidebar p
{
    margin: 5px;
}

#sidebar table
{
    border-collapse: collapse;
    width: 100%;
}

#sidebar th {
    font-weight: normal;
}

.heading a
{
    text-decoration: none;
}

.heading
{
    background: #ccc;
    border-bottom: 1px solid grey;
}

#sidebar td
{
    font-size: 10px;
    padding: 2px;
}


.odd-row
{
    background: #ddd;
}

.current-view {
    background: #ddd;
    border: 1px #ccc;
}

.unread
{
    font-weight: bold;
    color: red;
}


.unread-item
{
    font-weight: bold;
}


#items
{
    font-family: georgia;
}

/*.item .body { -moz-column-width: 400px; }
.item .body img { max-width: 400px; }

.item .body img:hover {
	max-width: 1000% !important;
	position: relative;
	z-index: 5;
	outline: 10px solid #000;
}*/

.highlight-on .highlight
{
    background: yellow;
}

h1
{
    font-size: 110%;
    margin: 0px;
    margin-bottom: 5px;
    font-weight: normal;
}

h2
{
    font-size: 100%;
    margin: 0px;
    margin-bottom: 5px;
    font-weight: normal;
    display: inline;
}

.meta
{
    font-size: 80%;
    display: inline;
}

.header
{
    background-color: #ddd;
    padding: 5px;
}

body
{
    margin: 0px;
    padding: 0px;
}

.body
{
    margin: 0px;
    padding: 10px 10px 10px 10px;
}

.item
{
    border: 2px solid #ddd;
    margin: 10px;
    margin-bottom: 20px;
    clear: both;
    overflow: hidden;
}

.item .selected
{
    border: 2px solid #888;
    background-color: #eee;
}

.selected .header
{
    background-color: #ccc;
}

#menu-page
{
    margin: 0;
    padding: 0;
    font-family: verdana;
    font-size: 60%;
    background: #eee;
}

#menu-page .menu ul
{
    padding: 1px;
    margin: 0;
}

#menu-page .menu li
{
    display: inline;
    padding: 5px;
}

#menu-page .menu
{
    text-align: center;
    background: #eee;
}

#menu-page a:hover
{
    background: #fff;
}

.nowrap
{
    white-space: nowrap;
}

.controls
{
    float: right;
}

.starred,.unstarred
{
    width: 16px;
    height: 16px;
    border: 0;
    cursor: pointer;
}

.tags
{
    font-size: 70%;
    float: right;
}

.item.hidden
{
    margin-bottom: 10px;
}

.hidden .body
{
    display: none;
}

.hidden .widgets
{
    display: none;
}


.shown .downarrow
{
    display: none;
}

.hidden .uparrow
{
    display: none;
}

.hidden h1
{
    font-size: 90%;
    display: inline;
}

.hidden h2
{
    font-size: 80%;
}

.hidden .tags
{
    display: none;
}

.hidden .meta
{
    display: none;
}

.hidden .dash
{
    display: inline;
}

.shown .dash
{
    display: none;
}

#welcome
{
font: normal 10px Verdana;
background: #ddd;
border-bottom: 1px solid #666;
padding: 5px 7px;
position: fixed;
left: 0;
top: 0;
}

#item-display-controls
{
font: normal 10px Verdana;
position: fixed;
top: 0;
left: 0;
right: 0;
margin: 0;
padding: 0 5px;
background: #ddd;
border-bottom: 1px solid #666;
z-index: 101;
}

#item-display-controls li
{
padding: 5px 4px;
}

#item-display-controls li a
{
padding: 0;
}

#item-display-controls-spacer
{
font: normal 10px Verdana;
top: 0;
left: 0;
right: 0;
margin: 0;
padding: 0;
}

#item-display-controls-spacer li
{
padding: 5px 4px;
}

#item-display-controls-spacer li a
{
padding: 0;
}

#keyboard-legend {
position: fixed;
top: 40px;
right: 20px;
padding: 10px;
font-size: 50%;
width: 20%;
background: #eee;
border: 1px solid #000;
}

.item-date-nav
{
text-align: center;
clear: both;
padding: 7px 0 0 0;
}

.inline-list
{
margin: auto;
padding: 0;
list-style: none;
}

.inline-list li
{
float: left;
margin: 0;
padding: 0;
}

.inline-list li a
{
display: block;
padding: 2px 5px;
}

.feed-icon {
width: 16px;
height: 16px;
border: 0;
}

.star-icon-small {
width: 10px;
height: 10px;
border: 0;
}

#tags .source, #feeds .source {
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}
#tags .latest, #feeds .latest {
    text-align: right;
}
#tags .unread, #feeds .unread {
    text-align: right;
}
#tags .title, #feeds .title {
    width: 100%;
}
#tags .title a, #feeds .title a {
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

/* fancy sidebar menus */
.feedmenu {
    list-style: none;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width: 20%;
    position: relative;
}
.feedmenu li {
    float: left;
    position: relative;
}
.feedmenu a {
    display: block;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
.feedmenu a:hover {
    color: #fff;
    background: #333;
    text-decoration: underline;
}
.feedmenu ul {
    background: #ccc;
    list-style: none;
    position: absolute;
    right: 9999px;
    background-color: #eee;
    border: 1px solid black;
    margin: 0px;
    padding: 2px;
    z-index: 4;
}
.feedmenu ul li {
    padding-top: 1px;
    float: none;
}
.feedmenu ul a {
    white-space: nowrap;
}
.feedmenu li:hover ul {
    right: 0px;
}
.feedmenu li:hover a {
    background: #ccc;
    text-decoration: underline;
}
.feedmenu li:hover ul a {
    text-decoration: none;
}
.feedmenu li:hover ul li a:hover {
    background: #333;
}
