body {
    font-size: 100%;
    font-family: Verdana, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#items h1,
#items .meta,
#items .body {
    font-family: Georgia, serif;
}

a img {
  border: 0;
}

p
{
    margin: 0;
    padding: 5px;
}

.clearer
{
    clear: both;
}

.header
{
    background: #dddddd;
    padding: 5px;
}

.widgets
{
    background: #f0f0f0;
    font-size: .8em;
    padding: 4px;
    text-align: right;
}

.widget
{
    margin-left: 1em;
}

#handle
{
    top: 0px;
    bottom: 0px;
    position: fixed;
    width: 10px;
    background: gray;
    cursor: ew-resize;
    background-image: url(image/grippy.png);
}

#sidebar
{
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    overflow: auto;
}

#throbber {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

#nav
{
    font-size: .8em;
    padding-left: 0em;
    list-style: none;
}

/* search box */
#nav form
{
    display: inline;
}

#feed-actions {
    text-align: center;
    font-size: .8em;
}

#sidebar table
{
    font-size: .6em;
    border-collapse: collapse;
    width: 100%;
}

#sidebar th {
    font-weight: normal;
}

#sidebar .heading a
{
    text-decoration: none;
}

#sidebar .heading
{
    background: #ccc;
    border-bottom: 1px solid gray;
}

#sidebar td
{
    padding: 2px;
}

#display-summary {
    margin: 0px 1ex 1ex;
    font-size: small;
}

.odd-row
{
    background: #ddd;
}

.current-view {
    background: #ccc;
    border: 1px #999;
}

.unread
{
    font-weight: bold;
    color: red;
}


.unread-item
{
    font-weight: bold;
}

.pagination-nav {
    text-align: center;
}

.highlight-on .highlight
{
    background: yellow;
}

h1
{
    font-size: 110%;
    margin: 0px;
    margin-bottom: 5px;
    font-weight: normal;
}

h2
{
    font-size: 100%;
    margin: 0px;
    margin-bottom: 5px;
    font-weight: normal;
    display: inline;
}

.meta
{
    font-size: 80%;
    display: inline;
}

.header
{
    background-color: #ddd;
    padding: 5px;
}

.body
{
    margin: 0px;
    padding: 10px 10px 10px 10px;
}

.item
{
    border: 2px solid #ddd;
    margin: 0px 4px 1ex;
    clear: both;
    overflow: hidden;
}

.item .selected
{
    border: 2px solid #888;
    background-color: #eee;
}

.selected .header
{
    background-color: #ccc;
}

.nowrap
{
    white-space: nowrap;
}

.controls
{
    float: right;
}

.starred,.unstarred
{
    width: 16px;
    height: 16px;
    border: 0;
    cursor: pointer;
}

.tags
{
    font-size: 70%;
    float: right;
}

.item.hidden
{
    margin-bottom: 10px;
}

.hidden .body
{
    display: none;
}

.hidden .widgets
{
    display: none;
}

.shown .downarrow
{
    display: none;
}

.hidden .uparrow
{
    display: none;
}

.hidden h1
{
    font-size: 90%;
    display: inline;
}

.hidden h2
{
    font-size: 80%;
}

.hidden .tags
{
    display: none;
}

.hidden .meta
{
    display: none;
}

.hidden .dash
{
    display: inline;
}

.shown .dash
{
    display: none;
}

#welcome {
    text-align: center;
}

#welcome .userid {
    font-weight: bold;
}

#feed-controls {
    text-align: center;
}

/* all controls listed along top of page, on both sidebar and item sides */
.banner {
    font-size: .7em;
    background: #ddd;
    border-bottom: 1px solid #666;
    padding: 5px 7px;
    margin: 0;
}

.banner li {
    padding: 5px 4px;
}

.banner li a {
    padding: 0;
}

.ontop {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
}

#item-display-controls
{
    padding: 0 5px;
}

#item-display-controls-spacer
{
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
}

#keyboard-legend {
    position: fixed;
    top: 40px;
    right: 20px;
    padding: 10px;
    font-size: 80%;
    width: 20%;
    background: #eee;
    border: 1px solid #000;
    opacity: .9;
}

#keyboard-legend dt {
    float: left;
}

.inline-list
{
margin: auto;
padding: 0;
list-style: none;
}

.inline-list li {
    float: left;
}

.feed-icon {
    width: 16px;
    height: 16px;
    border: 0;
}

.star-icon-small {
    width: 10px;
    height: 10px;
    border: 0;
}

#tags .source,
#feeds .source {
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}
#tags .latest,
#feeds .latest {
    text-align: right;
}
#tags .unread,
#feeds .unread {
    text-align: right;
}
#tags .title,
#feeds .title {
    width: 100%;
}
#tags .title a,
#feeds .title a {
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

/* fancy sidebar menus */
.feedmenu {
    list-style: none;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width: 20%;
    position: relative;
}
.feedmenu li {
    float: left;
    position: relative;
}
.feedmenu a {
    display: block;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
.feedmenu a:hover {
    color: #fff;
    background: #333;
    text-decoration: underline;
}
.feedmenu ul {
    background: #ccc;
    list-style: none;
    position: absolute;
    right: 9999px;
    background-color: #eee;
    border: 1px solid black;
    margin: 0px;
    padding: 2px;
    z-index: 4;
}
.feedmenu ul li {
    padding-top: 1px;
    float: none;
}
.feedmenu ul a {
    white-space: nowrap;
}
.feedmenu li:hover ul {
    right: 0px;
}
.feedmenu li:hover a {
    background: #ccc;
    text-decoration: underline;
}
.feedmenu li:hover ul a {
    text-decoration: none;
}
.feedmenu li:hover ul li a:hover {
    background: #333;
}
